.extra {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }
}

.extra__wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.extra__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}

.extra__list {
  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.extra__promotion {
  width: 280px;
  height: 290px;

  @media (min-width: $tablet-width) {
    width: 505px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}
