.main-header {
  @media (max-width: $mobile-width-only) {
    padding: 13px 0 14px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 0;
    margin-bottom: 74px;
  }

  &--index {
    @media (max-width: $mobile-width-only) {
      border: none;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 110px;
    }
  }

  &--nojs {
    padding: 0;
    border: none;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    flex-wrap: wrap;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (max-width: $mobile-width-only) {
    height: 38px;
  }

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }

  &::after {
    content: "";
    display: block;
    width: 101px;
    height: 18px;
    background-image: url("../img/logo-mobile-text.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--nojs {
    padding: 13px 0 14px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
