.page {
  height: 100%;
}

.page__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__body {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;

  &--index::before {
    content: "";
    display: block;
    width: 50%;
    height: 694px;
    background-image: url("../img/cat-background.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-color: #525156;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }
}

.page__main {
  flex: 1 1 auto;
}
