.page {
  height: 100%;
}

.page__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__body {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;

  &--index::before {
    content: "";
    display: block;
    width: 100%;
    height: 302px;
    background-color: #525156;
    background-image: url("../img/index-background-mobile.jpg"), linear-gradient(to right, #525156, #444438);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: -2;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 50%;
      height: 694px;
      background-image: url("../img/cat-background.jpg");
      background-position: right;
      background-color: #525156;
      right: 0;
      top: 0;
    }
  }

  &--index::after {
    content: "";
    display: block;
    width: 100%;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
    position: absolute;
    top: 65px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 50%;
      height: 694px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.page__main {
  flex: 1 1 auto;
}
