.social {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;

  &--vk {
    -webkit-mask-image: url("../img/vkontakte.svg");
    mask-image: url("../img/vkontakte.svg");
  }

  &--youtube {
    -webkit-mask-image: url("../img/youtube.svg");
    mask-image: url("../img/youtube.svg");
  }

  &--telegram {
    -webkit-mask-image: url("../img/telegram.svg");
    mask-image: url("../img/telegram.svg");
  }

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #68b738;
    opacity: 30%;
  }
}
