.title-line {
  position: relative;

  span {
    display: inline-block;
    padding-right: 20px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;

    @media (min-width: $tablet-width) {
      padding: 0 40px;
      margin-left: -40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 50vw;
    height: 2px;
    z-index: 1;
    top: 60%;
    left: 50%;

    @media (min-width: $tablet-width) {
      width: 100vw;
      transform: translate(-50%, -50%);
    }
  }
}
